

params {

    config_profile_description = "Default settings, based on Daniel's BSA processing pipeline."
    config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
    config_profile_url = "https://htcf.wustl.edu/docs/"

    call_individual_variants   = false
    call_batch_variants        = true
    min_alternate_fraction     = 0.75
    ploidy                     = 1
    freebayes_min_coverage     = 5
    freebayes_min_map_qual     = 30

}
