

params {

    config_profile_description = "This has default variant calling parameters."
    config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
    config_profile_url = "https://htcf.wustl.edu/docs/"

    call_individual_variants   = true
    call_batch_variants        = false
    min_alternate_fraction     = 0.75
    freebayes_min_coverage     = 5
    freebayes_min_map_qual     = 30

}
