params {

    config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
    config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
    config_profile_url = "https://htcf.wustl.edu/docs/"

    max_cpus = 10
    max_memory = "100.0GB"

}

executor {

    submitRateLimit = "2 sec"

}

process {

    executor = "slurm"
    scratch = true
    scratch = "${launchDir}/local_tmp"

}
