process{

    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    }

    withLabel:process_medium {
        cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 29.GB * task.attempt, 'memory' ) }
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }

    withLabel:process_high {
        cpus = { check_max(8 * task.attempt, 'cpus' ) }
        memory = { check_max( 59.GB * task.attempt, 'memory' ) }
        time = { check_max( 3.h * task.attempt, 'time' ) }
    }

    withName: PICARD_MARKDUPLICATES {
        cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
        memory = { check_max( 10.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h   * task.attempt, 'time'    ) }
    }

    withName: '.*FREEBAYES_.*' {
        cpus   = { check_max( 1     * task.attempt, 'cpus'    ) }
        memory = { check_max( 5.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 10.h   * task.attempt, 'time'    ) }
    }
}

params {
    snpeff_config_key          = 'ASM221672v1'
    fasta = "/ref/mblab/data/KN99/KN99_genome_fungidb.fasta"
    dusted_bed = "${projectDir}/assets/dustmasked.KN99.bed"
}
